@import 'styles/styles-variables.scss';

footer {
    border-top: 1px solid $border-color;
    background-color: $footer-background-color;
    ul {
        display: flex;
        padding: 20px 0;
        justify-content: center;
        li {
            margin: 0 20px;
            list-style-type: none;
        }
    }
}
