@import 'styles/styles-variables.scss';

.grid-container {
    position: relative;
    .spinner-container {
        position: absolute;
        top: 45%;
        left: 45%;
    }

    .mat-spinner {
        position: fixed;
    }

    table {
        width: 100%;
    }

    th.mat-sort-header-sorted {
        color: $header-text-color;
    }
    mat-card {
        text-align: center;
    }
}
